<!DOCTYPE <html>
<html lang=”en”>

<head>
	<meta charset=”UTF-8">
	<title>TESTE</title>
	<link rel=”stylesheet” type=”text/css” href=”/assets/colocoAquiMeu.css”>
</head>

<body>
	<h1>MY LIBRARY</h1>
		<h2> ADD A BOOK </h2>
			<%# "/library/create" -> route to create new book %>
				<form action=”/library/create method=”POST”>
					<input type=”text” placeholder=TITLE name=”title">
					<input type=”text” placeholder=AUTHOR name="author">
					<input type=”text” placeholder=YEAR name=”year">
					<input type="text" placeholder=PAGES name="pages">
					<button type=”submit”>Submit</button>
				</form>
		<h2></h2>
</body>

</html>