<!DOCTYPE <html>
<html lang=”en”>
<head>
  <meta charset=”UTF-8">
  <title>TESTE</title>
  <link rel=”stylesheet” type=”text/css”
    href=”/assets/colocoAquiMeu.css”>
</head>
<body>
  <h2>HeaderTitulo<h2>
  <form action=”/colocoAquRotaAredireccionarNoSubmit”
     method=”POST”>
    <input type=”text” placeholder=”placeholder01" name=”name01">
    <input type=”text” placeholder=”placeholder02" name=”name02">
    <input type=”text” placeholder=”placeholder03" name=”name03">
    <button type=”submit”>Submit</button>
  </form>
</body>
</html>