<!DOCTYPE <html>
<html lang=”en”>

<head>
  <meta charset=”UTF-8">
  <title>createBook</title>
  <link rel=”stylesheet” type=”text/css” href=”/assets/colocoAquiMeu.css”>
</head>

<body>
  <h2>createBook<h2>
      <%# /library/create -> ADD A NEW BOOK (create) %>
        <form action=”/library/create” method=”POST”>
          <input type=”text” placeholder=TITLE name=”title">
          <input type=”text” placeholder=AUTHOR name=”author">
          <input type=”text” placeholder=YEAR name=”year">
          <input type="text" placeholder=PAGES name="pages">
          <button type=”submit”>SUBMIT</button>
        </form>
</body>

</html>