<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Library - Find a Book</title>
  <link rel="stylesheet" type="text/css" href="/assets/librarystyle.css">
</head>

<body class="body-books">
  <div class="row mt-5">
    <div class="col-md m-auto">
      <div class="card card-body">
        <h2>FIND A BOOK</h2>
        <div class="col-md mb-3">
          <form action=/library/oneBook method=GET>
            <input type="text" placeholder="title" name="title" value="<%= typeof title !== 'undefined' ? title : '' %>"  />
            <input type="text" placeholder="author" name="author" value="<%= typeof author !== 'undefined' ? author : '' %>"  />
            <input type="text" placeholder="year" name="year" value="<%= typeof year !== 'undefined' ? year : '' %>"  />
            <input type="text" placeholder="pages" name="pages" value="<%= typeof pages !== 'undefined' ? pages : '' %>"  />
            <div class="col-md mb-3">
        </div>
        <div class="col-md mb-3">
        <button type=”submit” class="btn btn-outline-dark btn-lg btn-block">SUBMIT</button>
          </div>
        </form>
        <div class="col-md mb-3">
          <button class="btn btn-outline-dark btn-lg btn-block"><a href="/library/read">LIST ALL</a></button>
        </div>
        <div class="col-md mb-3">
          <button class="btn btn-outline-dark btn-lg btn-block"><a href="/library/home">BACK</a></button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>