<!DOCTYPE <html>
<html lang=”en”>

<head>
  <meta charset=”UTF-8">
  <title>createBook</title>
  <link rel=”stylesheet” type=”text/css” href=”/assets/colocoAquiMeu.css”>
</head>

<body>
  <h2>FIND A BOOK<h2>
      <%# "/library/createBook" -> ADD A NEW BOOK (create) %>
        <form action=/library/oneBook method=GET>
          <input type=text placeholder=TITLE name=title>
          <input type=text placeholder=AUTHOR name=author>
          <input type=number placeholder=YEAR name=year>
          <input type=number placeholder=PAGES name=pages>
          <button type=”submit”>SUBMIT</button>
		  <button><a href="/library/read">List All</a></button>
        </form>
</body>

</html>