<!DOCTYPE <html>
<html lang=”en”>

<head>
  <meta charset=”UTF-8">
  <title>Home Library</title>
  <link rel=”stylesheet” type=”text/css” href=”/assets/styles.css”>
</head>

<body>
  <h2>Welcome to your Home Library<h2>
      <div>
        <a href="/library/newBook">
          <button type="button">ADD A NEW BOOK</button>
        </a>
      </div>
      <div>
        <a href="/library/read">
          <button type="button">YOUR LIBRARY</button>
        </a>
      </div>
      <div>
        <a href="/library/find">
          <button type="button">FIND A BOOK</button>
        </a>
      </div>
</body>

</html>