body {
	background-image: url(../img/bc-library.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-color:antiquewhite;
	font-family: monospace, serif;
	min-height: 100vh;
}

.body-login {
	background-image: url(../img/bc-login.webp) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:antiquewhite;
	font-family: monospace, serif;
	min-height: 100vh;
}

.body-register {
	background-image: url(../img/bc-register.webp) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color:antiquewhite;
	font-family: monospace, serif;
	min-height: 100vh;
}


.btn:hover{
	color: black;
}
